[submodule "third_party/libuv/libuv"]
	path = third_party/libuv/libuv
	url = https://github.com/onesmash/libuv.git
[submodule "third_party/http_parser/http_parser"]
	path = third_party/http_parser/http_parser
	url = https://github.com/nodejs/http-parser.git
[submodule "third_party/spdlog/spdlog"]
	path = third_party/spdlog/spdlog
	url = https://github.com/onesmash/spdlog.git
[submodule "third_party/fmt/fmt"]
	path = third_party/fmt/fmt
	url = https://github.com/fmtlib/fmt.git
